:root {
  --color-primary: #050a13;
  --color-primary-variant: #101026;
  --color-accent: #03e8f9;
  --color-accent-variant: #fd6413;
  --color-text: #ffffff;

  --color-white: #ffffff;
  --color-black: #050a13;
  --color-blue: #03e8f9;
  --color-orange: #fd6413;
  --color-gray: #101026;
}

* {
  box-sizing: border-box;
}
/* JS코드는 복잡함: 부드러운 스크롤은 css로 간단히 해결가능 */
html { 
  scroll-behavior: smooth;
}

body {
  font-family: 'Google Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--color-white);
  color: var(--color-black);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background-color: transparent;
  outline: 0;
  border: 0;
  cursor: pointer;
}

button:focus {
  outline: 1px solid transparent;
}

.services {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2rem 0;
}

.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 10px;
}

.service_icon {
  font-size: 40px;
  margin-bottom: 10px;
  color: lightslategray;
}

.service_name {
  font-weight: bold;
  margin: 0;
  font-size: 14px;
  color: var(--color-black);
}

.service_icon:hover {
  color: rgba(225, 235, 226, 0.991);
  filter: grayscale(1) brightness(20%);
}

.section {
  padding: 4rem;
  text-align: center;
}

.max_container {
  max-width: 1200px;
  margin: auto;
}

.title {
  font-size: 2.5rem;
  margin: 1rem 0.5rem;
  color: var(--color-primary);
}

.description {
  font-size: 1.5rem;
  margin: 0.5rem 0;
  color: var(--color-primary);
}

.header {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--color-white);
  z-index: 1;
  transition: background 0.3s ease-in-out;
}

.headerBlackedByscrolled {
  background-color: var(--color-primary);
  opacity: 1;
}

.header_logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header_logo_img {
  height: 36px;
  width: 36px;
  margin: 0 1rem;
}

.header_logo_title {
  font-size: 1.8rem;
  color: var(--color-primary);
}

.header_logo_title a {
  color: purple; /* 원하는 색상으로 변경 */
}

.header_menu {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  font-size: 1.2rem;
}

.header_menu_item {
  color: var(--color-accent-variant);
  padding: 8px 16px;
}

.header_menu_item:hover {
  border-bottom: 1px solid var(--color-accent);
}

.header_menu_item.active {
  border: 1px solid var(--color-accent);
  background-color: rgb(84, 115, 158);
  border-radius: 4px;
  color: whitesmoke;
}

.toggle_bar {
  display: none;
  position: absolute;
  right: 2rem;
  top: 2.5rem;
}

#home {
  background: url('/images/bg2.jpg') no-repeat center center;
  background-size: cover; 
  transition: background 0.3s ease-in-out;
  background-color: var(--color-primary);
  color: var(--color-text);
  padding: 5rem 1rem;
  padding-top: 7rem;
  text-align: center;
}

section {
  transition: opacity 0.5s ease-in-out;
  padding: 5rem 1rem;
}

.home_avatar {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 3px solid var(--color-orange);
}

.home_title {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.home_title_strong {
  color: rgb(106, 165, 168);
}

.home_description {
  font-size: 1.5rem;
}

.home_contact {
  display: inline-block;
  background-color: cornflowerblue;
  color: var(--color-black);
  margin: 1rem;
  padding: 0.5rem 1rem;
  font-weight: bold;
  border-radius: 5px;
}

.home_contact:hover {
  background-color: transparent;
  outline: 2px solid var(--color-accent);
  color: var(--color-text);
}

#about {
  background-color: beige;
  padding: 6rem;
}

.majors {
  display: flex;
  justify-content: space-around;
  gap: 3rem;
  margin: 2.5rem 0;
}

.major {
  flex: 1;
  background-color: var(--color-black);
  margin: 2rem;
  padding: 1rem 1rem;
  color: var(--color-white);
  border-radius: 1rem;
  cursor: default;
  transition: all 300ms ease-in-out;

  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 1px 5px 0px rgba(30, 174, 35, 0.75);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
}

.major:hover {
  transform: scale(1.05);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(2, 28, 3, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.major_icon {
  transition: all 300ms ease-in-out;
  font-size: 4rem;
  margin: 1rem 0;
  color: var(slategrey);
}

.major_icon:hover {
  transform: rotate(10deg) scale(1.1);
  filter: contrast(200%);
  color: cadetblue;
}

.major_title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

#location {
  background-color: rgba(190, 181, 159, 0.661);
  color: var(--color-black);
  box-sizing: border-box;
}

.address {
  text-align: left;
  cursor: pointer;
}

.nav:hover {
  text-align: left;
  font-weight: bold;
}

.address iframe {
  width: 100%;
  height: 500px; /* 지도 크기를 크게 설정 */
  border: 1px solid slategrey;
  border-radius: 1%;
  box-shadow: 5px 5px 2px 0px rgba(55, 4, 4, 0.75);
  -webkit-box-shadow: 5px 5px 2px 0px rgba(117, 163, 118, 0.75);
  -moz-box-shadow: 5px 5px 2px 0px rgba(193, 157, 157, 0.75);
}

.icon-color {
  color: rgb(59, 13, 13);
  margin-right: 0.5rem;
}

.categories {
  display: flex;
  justify-content: center;
  margin: 2.2rem;
  gap: 1em;
  color: white;
}

.category {
  position: relative;
  flex: 1;
  font-size: 1.1rem;
  padding: 0.5rem 2.5rem;
  border: 1px solid var(--color-accent);
  cursor: pointer;
  white-space: nowrap;
}

.category--selected {
  background-color: var(--color-accent);
  color: steelblue;
}

.category_count {
  position: absolute;
  top: -20px;
  right: 16px;
  width: 28px;
  line-height: 28px;
  height: 28px;
  background-color: chartreuse;
  color: black;
  border-radius: 50%;
  opacity: 0;
  transition: all 300ms ease-in-out;
}

.category--selected .category_count,
.category:hover .category_count {
  opacity: 1;
  top: 0;
  right: 5px;
}

#rooms {
  background-color: rgb(159, 175, 190);
  padding: 6rem;
}

.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
}

.project {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}

.project_img-wrapper {
  width: 100%;
  height: 0;
  padding-bottom: 75%; /* 4:3 aspect ratio */
  position: relative;
}

.project_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
}

.project_metadata {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  transition: opacity 0.3s ease-in-out;
  width: 80%;
  cursor: pointer;
}

.project:hover .project_img {
  opacity: 0.3;
}

.project:hover .project_metadata {
  opacity: 1;
}

.project_title {
  color: white;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.project_title::after {
  content: '';
  display: block;
  width: 50%;
  height: 3px;
  background-color: rgb(25, 213, 213);
  margin: 0.5rem auto; /* 가운데 정렬 */
}

.project_description {
  color: #fd6413;
  font-size: 1rem;
}

/* 모달 */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
  cursor: pointer;
}

.modal_content {
  margin: auto;
  display: block;
  width: 90%;
  max-width: 100%;
  cursor: pointer;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

#guest {
  background-color: beige;
}

.guest {
  margin: 1rem;
  padding: 2rem;
  box-shadow: 1px 1px 5px 0px rgba(200, 146, 146, 0.75);
  -webkit-box-shadow: 1px 1px 5px 0px rgba(5, 5, 5, 0.75);
  -moz-box-shadow: 1px 1px 5px 0px rgba(249, 231, 231, 0.75);
}

.testimonial {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
  margin-bottom: 2rem;
}

.testimonial:nth-child(even) .testimonial_img {
  order: 1;
}

.testimonial_img {
  width: 150px;
  height: 150px;
  border-radius: 10%;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(2, 28, 3, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.testimonial_bubble {
  padding: 1rem;
}

.arrow_up {
  background-color: rgb(7, 102, 7);
  position: fixed;
  bottom: 8rem;
  right: 1rem;
  font-size: 3rem;
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  text-align: center;
  line-height: 4rem;
  transition: opacity 1900ms ease-in-out;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 3px 3px 1px 0px rgba(2, 28, 3, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

#contact {
  height: 40px;
  width: 100%;
  background: url('/frontEnd/portfolio-head/images/bg1.jpg') no-repeat center;
  color: white;
  opacity: 0.7;
  filter: grayscale(0.3);
  padding-top: 2rem;
}

.contact {
  width: 100%;
  margin: auto;
  margin-top: 0;
  border-bottom: 1px solid tomato;
  background-color: rgba(89, 87, 87, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding-bottom: 1rem;
  font-size: 2rem;
  opacity: 1;
  filter: invert();
}

.contact_li,
.contact_li i {
  color: rgba(235, 227, 225, 0.991);
  filter: grayscale(0.1) brightness(520%);
}

.contact_li:hover,
.contact_li:hover i {
  color: rgba(225, 235, 226, 0.991);
  filter: grayscale(1) brightness(20%);
}

@media screen and (max-width: 786px) {
  .section {
    padding: 3rem 2rem;
  }

  .title {
    font-size: 1rem;
    margin: 0.5rem;
  }

  .description {
    font-size: 1rem;
  }

  .header {
    position: absolute;
    background-color: slategray;
    display: flex;
    align-items: start;
  }

  .header_logo_title {
    color: coral;
    font-size: 1rem;
  }

  .header_menu {
    display: none;
    transition: all 400ms ease;
  }

  .header_menu.open {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 2rem;
    font-size: 1rem;
  }

  .toggle_bar {
    background-color: transparent;
    color: white;
    display: block;
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
    font-size: 1.5rem;
    z-index: 1600;
  }

  .toggle_bar:hover {
    color: white;
    cursor: pointer;
  }

  .nav_container {
    position: fixed;
    top: 0;
    right: -100%; /* 초기 상태에서 화면 왼쪽 밖으로 숨겨집니다. */
    width: 15%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: left 0.3s;
    opacity: 0.4;
  }

  .nav_container.active {
    display: block;
    right: 0; /* 토글 버튼 클릭 시 화면에 표시 */
  }

  .nav_container.active + .toggle_bar {
    display: none;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1400; /* 헤더가 항상 위에 오도록 설정 */
  }

  .header_menu {
    padding: 0;
    list-style: none;
    text-align: center;
  }

  .header_menu_item {
    margin: 10px 0;
  }

  .header_menu_item a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
  }

  #home {
    padding-bottom: 3rem;
  }

  .home_title {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }

  .header_logo_title a {
    color: white;
    font-size: 1.5rem;
  }

  .majors {
    flex-direction: column;
    margin: 1rem;
  }

  .major {
    flex: 0;
    margin: 0.1rem;
  }

  .job {
    margin-left: 3rem;
  }

  .skills {
    grid-template-columns: 1fr;
  }

  .categories {
    flex-direction: column;
  }

  .category {
    width: 100%;
  }

  .projects {
    grid-template-columns: repeat(2, 1fr);
  }

  .arrow_up {
    background-color: var(--color-orange);
    position: fixed;
    bottom: 6rem;
    right: 0.5rem;
    font-size: 2rem;
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    text-align: center;
    opacity: 0.6;
    line-height: 3rem;
  }
}
